<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
<a href="/products/create">Create new product</a>
<h1>Products</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Detail</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="product : ${products}">
        <tr>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td><a th:href="@{/products/view/__${product.id}__ }">Detail</a></td>
            <td><a th:href="@{/products/edit/__${product.id}__ }">Edit</a></td>
            <td><a th:href="@{/products/delete/__${product.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>
